@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.nav-bar-bg-color,
#landing,
#tools,
#projects,
#contact {
  background-color: rgb(22, 22, 22);
}

.nav-bar-text-light {
  color: whitesmoke;
}

.my-image {
  display: flex;
  justify-content: center;
  height: 400px;
  width: 400px;
  border-radius: 50%;
}

@media (max-width: 768px) {
  .intro-section-right,
  .project-img {
    margin: 0 auto;
    max-width: 90%;
  }
}

.project-img {
  width: 30em;
  height: 30em;
}
